---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/molecules/Card.astro';
import PostsLayout from '../layouts/IndexPostsLayout.astro';
import Presentation from '../components/organisms/Presentation.astro';

const allPosts = await Astro.glob('../pages/posts/*.md')
const threePosts = allPosts.slice(0,3)
const presentation = {
  image: '/author.jpg',
  title: '👋 Soy Jennifer Lopez ',
  subtitle: 'Y este es mi blog de aprendizaje y desarrollo',
  description: 'Empecé a aprender desarrollo web en 2022 y he decidido hacer este blog para plasmar el avance que voy haciendo y lo que voy aprendiendo. Espero que lo disfrutes tanto como yo'
}
const {image,title,subtitle, description} = presentation
---

<BaseLayout mainClass='w-12/12 mx-auto flex flex-col justify-between items-center' title="Welcome to Astro." footerClass=''>
  <Presentation image={image} title={title} subtitle={subtitle} description={description}/>
  <PostsLayout>
    {threePosts.map((post) => (
      <Card title={post.frontmatter.title} image={post.frontmatter.image} link={post.url} titleSize="text-sm" />
    ))}
  </PostsLayout>
  <a class="dark:text-yellow-400" href="/blog">Ver todos los posts</a>
	
</BaseLayout>
